
@{
    ViewData["Title"] = "About Us";
}

<h1>About Us</h1>
<hr />
<h4>MvcShoelaces</h4>
<p>
    The Laces The Company was founded in 2013 by a multidisciplinary team of creative people, combining the vision of his mentor with the implementation of the team, it was possible to build this project.
</p>
<p>
    With an innovative approach to a common product, the brand aims to be a benchmark in the market and continuously offer new quality products, tailored to the needs of its customers.
</p>
<p>Our products are produced entirely in Portugal, from design, production and packaging. It could not be any other way.</p>
<h5>Head Quaters</h5>
<span>Street no: 3 </span>
<br />
<span>Silicon, NewYork</span>
<br />
<span>U.S.A</span>



